---
layout: layouts/base.njk
templateClass: tmpl-post
filter:
    - all
    - nav
    - post
    - posts
---
{% for tag in tags %}
	{%- if tag != "nav" -%}
  		<a href="/tags/{{ tag }}" class="tag">{{ tag }}</a>
  	{% endif %}
{% endfor %}


<div class=col>
	<h1>{{ title }}</h1>
</div>

{{ layoutContent | safe }}

<div class=col>
<p><a href="{{ '/' | url }}">← Home</a></p>
</div>

