---
layout: layouts/base.njk
templateClass: tmpl-post
---
{% for tag in tags %}
  <a href="/tags/{{ tag }}" class="tag">{{ tag }}</a>
{% endfor %}


<div class=col>
	<h1>{{ title }}</h1>
</div>

{{ layoutContent | safe }}

<div class=col>
<p><a href="{{ '/' | url }}">← Home</a></p>
</div>

